Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.
Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

Одновременно выполнялось задание 1 и 3, так как требовалось заменить пропущенные значения для подсчета метрик

In [1]:
import pandas as pd
import numpy as np

In [187]:
df = pd.read_csv('horse_data.csv',header=None)

# какие типы признаков в нашем датафрейме?
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       300 non-null    object
 1   1       300 non-null    int64
 2   2       300 non-null    int64
 3   3       300 non-null    object
 4   4       300 non-null    object
 5   5       300 non-null    object
 6   6       300 non-null    object
 7   7       300 non-null    object
 8   8       300 non-null    object
 9   9       300 non-null    object
 10  10      300 non-null    object
 11  11      300 non-null    object
 12  12      300 non-null    object
 13  13      300 non-null    object
 14  14      300 non-null    object
 15  15      300 non-null    object
 16  16      300 non-null    object
 17  17      300 non-null    object
 18  18      300 non-null    object
 19  19      300 non-null    object
 20  20      300 non-null    object
 21  21      300 non-null    object
 22  22      300 non-null    object
 23  23      300 non-null    int64
 24  24      300 non-null    int64
 25  25      300 non-null    int64
 26  26      300 non-null    int64
 27  27      300 non-null    int64
dtypes: int64(7), object(21)
memory usage: 65.8+ KB

In [188]:
df_1 = pd.DataFrame()
df_1['is_surgery'] = df.iloc[:, 0]
df_1['pulse'] = df.iloc[:, 4]
df_1['respiratory_rate'] = df.iloc[:, 5]
df_1['pain'] = df.iloc[:, 10]
df_1['abdominal_distension'] = df.iloc[:, 12]
df_1['protein'] = df.iloc[:, 19]
df_1['outcome'] = df.iloc[:, 22]
df_1['cp_data'] = df.iloc[:, 27]

In [69]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   is_surgery            300 non-null    object
 1   pulse                 300 non-null    object
 2   respiratory_rate      300 non-null    object
 3   pain                  300 non-null    object
 4   abdominal_distension  300 non-null    object
 5   protein               300 non-null    object
 6   outcome               300 non-null    object
 7   cp_data               300 non-null    int64
dtypes: int64(1), object(7)
memory usage: 18.9+ KB

In [53]:
df_1.head()

,is_surgery,pulse,respiratory_rate,pain,abdominal_distension,protein,outcome,cp_data
0,2,66,28,5,4,8.40,2,2
1,1,88,20,3,2,85,3,2
2,2,40,24,3,1,6.70,1,1
3,1,164,84,2,4,7.20,2,1
4,2,104,35,?,?,7.40,2,2

In [146]:
#расчитываем количество пропусков
df_1.isin(['?']).sum(axis=0)

is_surgery               1
pulse                   24
respiratory_rate        58
pain                    55
abdominal_distension    56
protein                 33
outcome                  1
cp_data                  0
dtype: int64

In [189]:
# в данных столбцах по одному пропуску. можно удалить строки с этими пропусками из датафрейма без потери качества выборки
df_1 = df_1[df_1.is_surgery != '?']
df_1 = df_1[df_1.outcome != '?']

In [190]:
#df_1.loc[(df_1['is_surgery'] == '?'), 'is_surgery'] = 2
for i in list(df_1.columns):
    df_1.loc[(df_1[i] == '?'), i] = np.nan
    df_1[i] = pd.to_numeric(df_1[i], downcast="float")

/Users/ginger_mac/opt/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [149]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   is_surgery            299 non-null    float32
 1   pulse                 275 non-null    float32
 2   respiratory_rate      241 non-null    float32
 3   pain                  244 non-null    float32
 4   abdominal_distension  243 non-null    float32
 5   protein               266 non-null    float32
 6   outcome               299 non-null    float32
 7   cp_data               299 non-null    float32
dtypes: float32(8)
memory usage: 11.7 KB

In [191]:
for i in list(df_1.columns):
    print(i)
    print(f'mean {df_1[i].mean()} - median {df_1[i].median()} - mode {df_1[i].mode()[0]} - {df_1[i].std()} - {df_1[i].var()}')
    print('------------********-----------')

is_surgery
mean 1.3979933261871338 - median 1.0 - mode 1.0 - 0.49030452966690063 - 0.24039854109287262
------------********-----------
pulse
mean 72.0 - median 64.0 - mode 48.0 - 28.64621925354004 - 820.6058349609375
------------********-----------
respiratory_rate
mean 30.460580825805664 - median 25.0 - mode 20.0 - 17.66609764099121 - 312.0909729003906
------------********-----------
pain
mean 2.946721315383911 - median 3.0 - mode 3.0 - 1.308892011642456 - 1.7131984233856201
------------********-----------
abdominal_distension
mean 2.2716050148010254 - median 2.0 - mode 1.0 - 1.0642073154449463 - 1.1325372457504272
------------********-----------
protein
mean 24.27444076538086 - median 7.5 - mode 6.5 - 27.364194869995117 - 748.7991943359375
------------********-----------
outcome
mean 1.5518394708633423 - median 1.0 - mode 1.0 - 0.737186849117279 - 0.5434444546699524
------------********-----------
cp_data
mean 1.6688963174819946 - median 2.0 - mode 2.0 - 0.47139960527420044 - 0.2222175896167755
------------********-----------

Выводы:
для категориальных метрик медиана и мода обычно совпадают. Соответсвенно можно любое из этих значений использовать для замены пропусков.

In [192]:
#для остальных столбцов формируем подмены по следующей логике:
#количественные значения - по медиане , качественные по моде
df_1.pulse.fillna(df_1.pulse.median(), inplace=True)
df_1.respiratory_rate.fillna(df_1.respiratory_rate.median(), inplace=True)
df_1.pulse.fillna(df_1.pulse.median(), inplace=True)
df_1.pain.fillna(3, inplace=True)
df_1.abdominal_distension.fillna(1, inplace=True)
df_1.protein.fillna(df_1.protein.mode()[0], inplace=True)
df_1.outcome.fillna(1, inplace=True)

In [193]:
#датафрейм без пропусков
df_1.describe()

,is_surgery,pulse,respiratory_rate,pain,abdominal_distension,protein,outcome,cp_data
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.397993,71.357857,29.401339,2.956522,2.033445,22.312714,1.551839,1.668896
std,0.490305,27.554625,16.000822,1.182131,1.080121,26.400812,0.737187,0.471400
min,1.000000,30.000000,8.000000,1.000000,1.000000,3.300000,1.000000,1.000000
25%,1.000000,48.500000,20.000000,2.000000,1.000000,6.500000,1.000000,1.000000
50%,1.000000,64.000000,25.000000,3.000000,2.000000,7.200000,1.000000,2.000000
75%,2.000000,88.000000,34.500000,4.000000,3.000000,52.000000,2.000000,2.000000
max,2.000000,184.000000,96.000000,5.000000,4.000000,89.000000,3.000000,2.000000

In [162]:
df_1.isna().sum(axis=0)

is_surgery              0
pulse                   0
respiratory_rate        0
pain                    0
abdominal_distension    0
protein                 0
outcome                 0
cp_data                 0
dtype: int64

Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [195]:
q1 = df_1.pulse.quantile(0.25)
q3 = df_1.pulse.quantile(0.75)
iqr = q3 - q1
print(q1, q3, iqr)
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(lower_bound)
print(upper_bound)
remove_outliers = df_1[df_1.pulse.between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse', ascending = False)
remove_outliers

48.5 88.0 39.5
-10.75
147.25

,is_surgery,pulse,respiratory_rate,pain,abdominal_distension,protein,outcome,cp_data
39,1.0,146.0,96.0,3.0,1.0,6.5,2.0,2.0
44,1.0,140.0,24.0,4.0,1.0,69.0,3.0,2.0
103,1.0,140.0,68.0,3.0,2.0,5.3,1.0,2.0
135,1.0,136.0,48.0,5.0,3.0,4.9,2.0,1.0
148,1.0,132.0,25.0,2.0,2.0,8.0,1.0,1.0
...,...,...,...,...,...,...,...,...
203,2.0,36.0,9.0,2.0,1.0,5.7,1.0,2.0
242,1.0,36.0,32.0,5.0,3.0,5.9,2.0,2.0
276,1.0,36.0,16.0,4.0,2.0,75.0,3.0,2.0
130,1.0,30.0,12.0,3.0,1.0,6.5,2.0,2.0
232,1.0,30.0,18.0,3.0,1.0,7.7,1.0,2.0

In [164]:
print(remove_outliers.pulse.mean())
print(remove_outliers.pulse.median())

69.82312774658203
64.0

In [165]:
print(df_1.pulse.mean() - remove_outliers.pulse.mean())

1.53472900390625

In [166]:
print(df_1.pulse.median() - remove_outliers.pulse.median())

0.0

In [197]:
df_1[df_1.pulse >= 147.25].sort_values('outcome', ascending = False)

,is_surgery,pulse,respiratory_rate,pain,abdominal_distension,protein,outcome,cp_data
3,1.0,164.0,84.0,2.0,4.0,7.2,2.0,1.0
55,1.0,160.0,20.0,3.0,4.0,6.5,2.0,1.0
255,1.0,184.0,84.0,4.0,3.0,3.3,2.0,2.0
275,1.0,150.0,50.0,5.0,2.0,6.2,2.0,2.0
41,2.0,150.0,72.0,3.0,1.0,8.5,1.0,1.0

Вывод по выбросам параметра pulse:
Верхняя часть выбросов показывает смерть лошади или болезненный показатель.

In [201]:
q1 = df_1.protein.quantile(0.25)
q3 = df_1.protein.quantile(0.75)
iqr = q3 - q1
print(q1, q3, iqr)
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(lower_bound)
print(upper_bound)
remove_outliers = df_1[df_1.protein.between(lower_bound, upper_bound, inclusive=True)].sort_values('protein', ascending = False)
remove_outliers

6.5 52.0 45.5
-61.75
120.25

,is_surgery,pulse,respiratory_rate,pain,abdominal_distension,protein,outcome,cp_data
208,1.0,88.0,80.0,3.0,3.0,89.0,3.0,2.0
90,2.0,52.0,16.0,2.0,1.0,86.0,1.0,2.0
1,1.0,88.0,20.0,3.0,2.0,85.0,3.0,2.0
63,2.0,130.0,16.0,2.0,4.0,82.0,3.0,2.0
144,1.0,84.0,40.0,2.0,4.0,81.0,3.0,2.0
...,...,...,...,...,...,...,...,...
247,1.0,88.0,24.0,5.0,3.0,4.6,2.0,2.0
84,1.0,60.0,80.0,2.0,3.0,4.5,1.0,1.0
142,1.0,120.0,25.0,5.0,4.0,4.5,2.0,1.0
210,1.0,68.0,20.0,2.0,2.0,4.0,2.0,1.0
255,1.0,184.0,84.0,4.0,3.0,3.3,2.0,2.0

Вывод по выбросам параметра protein:
Выбросов нет

In [202]:
q1 = df_1.respiratory_rate.quantile(0.25)
q3 = df_1.respiratory_rate.quantile(0.75)
iqr = q3 - q1
print(q1, q3, iqr)
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(lower_bound)
print(upper_bound)
remove_outliers = df_1[df_1.respiratory_rate.between(lower_bound, upper_bound, inclusive=True)].sort_values('respiratory_rate', ascending = False)
remove_outliers

20.0 34.5 14.5
-1.75
56.25

,is_surgery,pulse,respiratory_rate,pain,abdominal_distension,protein,outcome,cp_data
11,2.0,72.0,52.0,2.0,2.0,7.8,1.0,2.0
99,2.0,108.0,51.0,2.0,3.0,8.0,1.0,1.0
250,1.0,100.0,51.0,2.0,1.0,13.0,3.0,2.0
275,1.0,150.0,50.0,5.0,2.0,6.2,2.0,2.0
270,1.0,60.0,50.0,3.0,2.0,6.5,2.0,2.0
...,...,...,...,...,...,...,...,...
162,2.0,60.0,10.0,3.0,2.0,56.0,1.0,2.0
209,2.0,44.0,10.0,3.0,2.0,51.0,1.0,2.0
140,1.0,44.0,9.0,2.0,1.0,7.3,1.0,2.0
203,2.0,36.0,9.0,2.0,1.0,5.7,1.0,2.0
190,1.0,40.0,8.0,3.0,1.0,6.7,1.0,1.0

In [203]:
df_1[df_1.respiratory_rate >= 56.25].sort_values('outcome', ascending = False)

,is_surgery,pulse,respiratory_rate,pain,abdominal_distension,protein,outcome,cp_data
295,1.0,120.0,70.0,2.0,1.0,65.0,3.0,2.0
208,1.0,88.0,80.0,3.0,3.0,89.0,3.0,2.0
265,2.0,56.0,68.0,3.0,1.0,6.0,3.0,2.0
220,1.0,88.0,58.0,5.0,1.0,6.5,3.0,2.0
255,1.0,184.0,84.0,4.0,3.0,3.3,2.0,2.0
3,1.0,164.0,84.0,2.0,4.0,7.2,2.0,1.0
39,1.0,146.0,96.0,3.0,1.0,6.5,2.0,2.0
84,1.0,60.0,80.0,2.0,3.0,4.5,1.0,1.0
103,1.0,140.0,68.0,3.0,2.0,5.3,1.0,2.0
106,1.0,52.0,96.0,3.0,1.0,6.1,1.0,1.0
120,1.0,54.0,66.0,2.0,2.0,6.0,1.0,1.0
125,1.0,42.0,68.0,3.0,2.0,7.6,1.0,2.0
20,1.0,72.0,60.0,5.0,4.0,6.1,1.0,2.0
186,1.0,64.0,90.0,3.0,1.0,6.7,1.0,2.0
82,1.0,100.0,80.0,3.0,1.0,5.7,1.0,2.0
41,2.0,150.0,72.0,3.0,1.0,8.5,1.0,1.0
229,1.0,120.0,70.0,3.0,1.0,54.0,1.0,2.0
244,1.0,124.0,88.0,2.0,4.0,8.0,1.0,1.0
248,1.0,108.0,60.0,4.0,3.0,6.5,1.0,2.0
23,1.0,130.0,60.0,2.0,1.0,70.0,1.0,2.0
269,1.0,64.0,90.0,3.0,1.0,6.7,1.0,2.0
185,1.0,120.0,60.0,3.0,1.0,6.5,1.0,2.0

Вывод по выбросам параметра respiratory_rate:
Некорректные данные по данному параметру. Так как в описании столбцов норма от 8 до 10